<?xml version="1.0"?>

<!--
  ~ Copyright © Webficial Technologies. All rights reserved.
  ~ See COPYING.txt for license details.
  ~ https://webficial.com/ | support@webficial.com
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Webficial_Core" setup_version="1.0.0">
    </module>
</config>
